[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Klein (cuzz1369)
[access "refs/for/refs/*"]
	read = group user/Tim Klein (cuzz1369)
	push = group user/Tim Klein (cuzz1369)
	label-Code-Review = -2..+2 group user/Tim Klein (cuzz1369)
	label-Verified = -1..+1 group user/Tim Klein (cuzz1369)
	rebase = group user/Tim Klein (cuzz1369)
	removeReviewer = group user/Tim Klein (cuzz1369)
	submit = group user/Tim Klein (cuzz1369)
[access "refs/heads/*"]
	read = group user/Tim Klein (cuzz1369)
	create = group user/Tim Klein (cuzz1369)
	push = +force group user/Tim Klein (cuzz1369)
	pushMerge = group user/Tim Klein (cuzz1369)
[access "refs/tags/*"]
	push = +force group user/Tim Klein (cuzz1369)
	pushTag = group user/Tim Klein (cuzz1369)
	pushSignedTag = group user/Tim Klein (cuzz1369)
